<input type= "radio" name = "options" value="All" [(ngModel)]="selectedRadioButtonValue"
(change)="onRadioButtonSelectionChanged()"/>
<span class="radioClass">{{"All("+all+")"}}</span>

<input type= "radio" name = "options"value="female" [(ngModel)]="selectedRadioButtonValue"
(change)="onRadioButtonSelectionChanged()"/>
<span class="radioClass">{{"Female("+female+")"}}</span>

<input type= "radio" name = "options"value="male" [(ngModel)]="selectedRadioButtonValue"
(change)="onRadioButtonSelectionChanged()"/>
<span class="radioClass">{{"Male("+male+")"}}</span>


<!-- <br>
 
<input type= "checkbox" name = "TE" value="TE" [(ngModel)]="selectedCheckBoxValue1"
(change)="onCheckButtonSelectionChanged()"/>
<span class="checkbox">{{"Telugu("+te+")"}}</span>
<input type= "checkbox" name = "EN" value="EN" [(ngModel)]="selectedCheckBoxValue2"
(change)="onCheckButtonSelectionChanged()"/>
<span class="checkbox">{{"English("+en+")"}}</span>
<input type= "checkbox" name = "KA" value="KA" [(ngModel)]="selectedCheckBoxValue3"
(change)="onCheckButtonSelectionChanged()"/>
<span class="checkbox">{{"kANNADA("+ka+")"}}</span> -->