<!-- <app-studentcount
  [all]="getTotalCount()"
  [female]="getTotalMaleCount()"
  [male]="getTotalFemaleCount()"
  (countRadioButtonSelectionChanged) = "onStudentCountRadioButtonChanged($event)">
</app-studentcount> -->

<div>
<table [attr.align]="center" >
  <tr>
    <th [attr.colspan]="colspanv" bgcolor="#ff9933">Student Detailes</th>
    </tr> 
    <tr>
    <th>Student ID</th>
    <th>Name</th>
    <th>Age</th>
</tr>
 <!-- <ng-container *ngIf="selectedStudentCountRadioButton === 'All' || selectedStudentCountRadioButton === student.gender ">-->
  <tr *ngFor='let student of students' >
          <td>{{student.id }}</td>
         <td>{{student.name }}</td>
         <td>{{student.age}}</td>
         <td><button class="edit" (click)="edit(student)">Edit</button></td>
         <td><button class="delete"  (click)="delete(student)">delete</button></td>
  </tr>
 <!-- </ng-container> -->
  <tr *ngIf="!students || students.length == 0">
    <td  colspan="3">No students Okay Be Queit</td>
  </tr>
  </table>
</div>


<!-- [attr.colspan]="colspanv" -->