 @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
 div 
{
  box-shadow: black;
  
}
 table
    {
    
     
     width: 70%;
     box-shadow: 5px 10px 18px #888888;                               
    }
    tabe:hover
    {
        animation:  myrotate 4s 1;
         
    }
    @keyframes myrotate
    {
          0%{
            transform: rotate(10deg);
           }
           10%
           {
            transform: rotate(45deg);
            }
           30%{
            transform: rotate(135deg);
           }
           50%{
            transform: rotate(200deg);
           }
           75%{
            transform: rotate(270deg);
           }
           85%{
            transform: rotate(310deg);
           }
           90%{
            transform: rotate(360deg);
           }
            
            
    }

tr,th,td{
    padding: 10px;
    margin: 10px;
     
}
 
tr:nth-child(even)
{
    background-color:	 deepskyblue;
}
tr:nth-child(odd)
{
    background-color: #33ff66 ;
} 
 